:root {
  /* ====== масштаб (меняешь только это под большие экраны) ====== */
  --ui: 1; /* масштаб текста/элементов */
  --space: 1; /* масштаб отступов/gap */

  /* ====== размеры текста (твои текущие значения как база) ====== */
  --fs-h1: 3.4rem;
  --fs-h2: 2.7rem;
  --fs-h3: 1.4rem;
  --fs-p: 1.8rem;
  --fs-nav: 1.8rem;

  --fs-list-prog: 1.3rem;
  --fs-list-konzept: 1.2rem;
  --fs-list-kenntnisse: 1.6rem;
  --fs-tech-tag: 0.9rem;
  --fs-social: 1.5rem;

  /* ====== отступы / расстояния (твои текущие значения как база) ====== */
  --pad-section-y: 2rem;
  --pad-section-x: 1.5rem;

  --gap-flex: 10px;
  --pad-flex: 12px;

  --bild-width: 350px;
  --bild-height: 350px;

  --gap-project-grid: 2rem;
  --mt-project-grid: 2rem;

  --margin-nav: 20px;
  --gap-nav: 1rem;

  --grig-collumn: 0px;
  --grig-rows: 0px;
  /* мелкие “хаковые” отступы оставляю как есть (у тебя они специфичные) */
}

/* ====== масштаб по ширине экрана (подгони под вкус) ====== */
@media (min-width: 1920px) {
  :root {
    --ui: 1.3;
    --space: 1.2;
    --grig-collumn: 50px;
    --grig-rows: 20px;
    --margin-nav: 30px;
    --gap-nav: 1.2rem;
    --bild-width: 450px;
    --bild-height: 450px;
  }
}
@media (min-width: 2560px) {
  :root {
    --ui: 1.8;
    --space: 1.7;
    --grig-collumn: 125px;
    --grig-rows: 100px;
    --margin-nav: 35px;
    --gap-nav: 1.5rem;
    --bild-width: 600px;
    --bild-height: 600px;
  }
}
@media (min-width: 3840px) {
  :root {
    --ui: 2.6;
    --space: 2.6;
    --grig-collumn: 250px;
    --grig-rows: 200px;
    --margin-nav: 40px;
    --gap-nav: 1.8rem;
    --bild-width: 750px;
    --bild-height: 750px;
  }
}

/* ================== ТВОЙ ФАЙЛ НИЖЕ (с подстановкой переменных) ================== */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  line-height: 1.2;
  background-color: black;
}

h1 {
  font-size: calc(var(--fs-h1) * var(--ui));
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

h2 {
  font-size: calc(var(--fs-h2) * var(--ui));
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

h3 {
  font-size: calc(var(--fs-h3) * var(--ui));
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

p {
  font-size: calc(var(--fs-p) * var(--ui));
}

a {
  color: white;
  text-decoration: none;
}

section {
  min-height: 80vh;
  align-content: center;
}

#section-1 {
  top: -2%;
  min-height: 80vh;
  padding: calc(var(--pad-section-y) * var(--space))
    calc(var(--pad-section-x) * var(--space));
  margin-top: 6%;
  align-content: center;
}

#section-2,
#section-3 {
  min-height: 100vh;
  padding: calc(var(--pad-section-y) * var(--space))
    calc(var(--pad-section-x) * var(--space));
  align-content: center;
}

.flex-container {
  display: flex;
  gap: calc(var(--gap-flex) * var(--space));
  padding: calc(var(--pad-flex) * var(--space));
  margin-top: 50px;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-shrink: 1;
}

.flex-container-projects {
  display: flex;
  gap: calc(var(--gap-flex) * var(--space));
  padding: calc(10px * var(--space));
  margin-top: -100px;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-shrink: 1;
}

.developer {
  position: fixed;
  top: -2px;
  left: 30px;
  color: rgba(255, 255, 255, 0.89);
  transition: opacity 0.8s ease;
}

.nav-menu {
  display: flex;
  gap: var(--gap-nav);
  align-items: center;
  margin-top: -21px;
  margin-right: calc(var(--margin-nav) * var(--space) + -10px);
}

.contact {
  margin-top: -94px;
  margin-left: 51px;
}

.nav-link {
  color: white;
  font-size: calc(var(--fs-nav) * var(--ui));
  font-weight: 500;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: cyan;
  text-shadow:
    0 0 20px cyan,
    0 0 40px cyan;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: cyan;
  transition: width 0.4s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.flex-flow-column {
  flex-flow: column nowrap;
  align-items: flex-start;
}

.grid-container,
.grid-container-2 {
  display: grid;
  grid-auto-columns: calc(150px + var(--grig-collumn));
  grid-auto-rows: calc(150px + var(--grig-rows));
  gap: 1em;
  margin: -10px;
  grid-template-areas:
    "box-1 box-1 box-1"
    "box-2 box-2 box-2"
    "box-2 box-2 box-2";
}

.box {
}

.grid-container-3 {
  display: grid;
  grid-auto-columns: calc(150px + var(--grig-collumn));
  grid-auto-rows: calc(150px + var(--grig-rows));
  gap: 1em;
  margin: -10px;
  grid-template-areas:
    "box-1 box-1 box-1"
    "box-1 box-1 box-1"
    "box-1 box-1 box-1"
    "box-2 box-2 box-2";
}

.grid-container-4 {
  display: grid;
  grid-auto-columns: calc(220px + var(--grig-collumn) + 80px);
  grid-auto-rows: calc(100px + var(--grig-rows));
  gap: 1em;
  margin: -10px;
  grid-template-areas:
    "box-1 box-1 box-1"
    "box-2 box-2 box-2"
    "box-2 box-2 box-2";
  width: 50%;
}

.grid-container-5 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100px;
  grid-auto-rows: 16px;
  gap: 1em;
  margin: 10px;
  margin-top: -10px;
  align-self: flex-end;
  justify-items: start;
  justify-content: center;
}

.grid-container-button {
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-rows: 20px;
  grid-auto-flow: column;
  gap: 1em;
  align-self: flex-end;
  justify-items: center;
  justify-content: center;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 80px;
  background: none;
  border: none;
}

.button:hover {
  background-color: cyan;
  box-shadow: 0 0 15px cyan;
  transform: scale(1.1);
}

#about-bild {
  width: var(--bild-width);
  height: var(--bild-height);
}

.particles-section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: black;
}

.header-section {
  min-height: auto;
  position: sticky;
  top: 20px;
  z-index: 10;
  padding: 20px;
}

.list-programsprache li {
  font-size: calc(var(--fs-list-prog) * var(--ui));
}

.list-konzept {
  margin-top: 0px;
}

.list-konzept li {
  font-size: calc(var(--fs-list-konzept) * var(--ui));
}

.list-kenntnisse {
  margin-top: 0px;
}

.list-kenntnisse li {
  font-size: calc(var(--fs-list-kenntnisse) * var(--ui));
}

.particles-canvas {
  pointer-events: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.particles-section .content {
  position: relative;
  z-index: 1;
}

canvas {
  display: block;
}

.justiny-content {
  justify-content: end;
  margin: -20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: calc(var(--gap-project-grid) * var(--space));
  margin-top: calc(var(--mt-project-grid) * var(--space));
}

.project-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: calc(18px * var(--space));
  padding: calc(1.5rem * var(--space));
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  backdrop-filter: blur(10px);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 255, 255, 0.2);
}

.project-links p {
  margin-top: 10px;
}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1em;
}

.tech-tags span {
  background: rgba(0, 255, 255, 0.2);
  color: cyan;
  padding: 0.3em 0.8em;
  border-radius: 20px;
  margin: 0.2rem;
  font-size: calc(var(--fs-tech-tag) * var(--ui));
}

.footer {
  text-align: center;
  padding: 3rem 0;
}

.social-links {
  margin-top: -24px;
}

.social-links a {
  margin: 0 1.5rem;
  font-size: calc(var(--fs-social) * var(--ui));
  color: white;
  transition: color 0.3s;
}

.social-links a:hover {
  color: cyan;
}

.project-link.github:hover {
  background: cyan;
  color: aqua;
  text-shadow:
    0 0 20px rgb(13, 0, 255),
    0 0 40px rgb(81, 255, 0);
}

.wip-text {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.wip-text:hover {
  color: cyan;
  text-shadow: 0 0 10px cyan;
  opacity: 1;
}

.linie {
  margin: -6px;
}

@media (min-width: 769px) {
  .flex-flow-column {
    align-items: center;
  }

  .grid-container-4.first {
    align-self: flex-end;
    margin-right: 2%;
    margin-bottom: 50px;
  }

  .grid-container-4.second {
    align-self: flex-start;
    margin-left: 9%;
    margin-bottom: 50px;
  }

  .grid-container-4.third {
    align-self: flex-end;
    margin-right: 2%;
  }
}
